<section class="hero-restaurant">
	<div class="hero-restaurant__container container">
		<h1 class="hero-restaurant__title">mimih<span class="hero-restaurant__title--spacing">o</span></h1>
		<p class="hero-restaurant__subtitle">Ресторан</p>
		<p class="hero-restaurant__slogan">Смак життя 24/7</p>
		<div class="hero-restaurant__contact-wrap">
			<address class="hero-restaurant__address">
				<a class="hero-restaurant__address-link link" href="https://goo.gl/maps/GFzaZpafkidJ7sfY7"
					target="_blank" rel="noopener noreferrer nofollow">
					<svg class="hero-restaurant__address-icon hero-location">
						<use href="/src/images/icons.svg#icon-location">
					</svg>Україна, м. Полтава,
					<br>
					вул. Маршала Бірюзова, 15
				</a>
			</address>
			<div class="hero-restaurant__button-wrap">
				<button class="hero-restaurant__button hero-restaurant__button--first" type="button" js-open-modal
					data-modal="1">Забронювати
					столик</button>
				<button class="hero-restaurant__button hero-restaurant__button--second " type="button"><a class="link"
						href="#restaurant-menu">Переглянути меню</a></button>
			</div>
		</div>
		<ul class="hero-restaurant__icon-list list">
			<li class="hero-restaurant__icon-item"><a class="hero-restaurant__icon-link " target="_blank" href="">
					<svg class="hero-restaurant__address-icon" width=24 height=24>
						<use href="/src/images/icons.svg#icon-instagram">
					</svg></a></li>
			<li class="hero-restaurant__icon-item"><a class="hero-restaurant__icon-link" target="_blank" href="">
					<svg class="hero-restaurant__address-icon" width=24 height=24>
						<use href="/src/images/icons.svg#icon-facebook">
					</svg></a></li>
			<li class="hero-restaurant__icon-item"><a class="hero-restaurant__icon-link" target="_blank" href="">
					<svg class="hero-restaurant__address-icon" width=24 height=24>
						<use href="/src/images/icons.svg#icon-telegram">
					</svg></a></li>
		</ul>
	</div>
</section>