<section class="restaurant">
<div class="container">
<p>Amet minim mollit non</p>
<h2>Mimiho</h2>

<h3 class="visually-hidden">Наша кухня</h3>
<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
 Velit officia consequat duis enim velit mollit.
 Exercitation veniam consequat sunt nostrud amet.</p>
 <img src="./images/restaurant-interior -mobile.jpg" alt="Кухар з бородою слідкує за приготуванням їжі на пательні">

<p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
    Velit officia consequat duis enim velit mollit. 
    Exercitation veniam consequat sunt nostrud amet.</p>

    <img srcset="./images/restauran-oruri-mobile.jpg 1x, ./images/restauran-oruri-mobile@2x.jpg 2x" src="./images/restauran-oruri-mobile.jpg" alt="Свіже м’ясо, петрушка, сіль та ніж лежать на дерев’яній дощечці">

    <img srcset="./images/restauran-helena-mobile.jpg 1x, ./images/restauran-helena-mobile@2x.jpg 2x" src="./images/restauran-helena-mobile.jpg" alt="lk">
    <img srcset="./images/restauran-mat-mobile.jpg 1x, ./images/restauran-mat-mobile@2x.jpg 2x" src="./images/restauran-mat-mobile.jpg" alt="ma">

    </div>
</section>
