<section class="restaurant-menu section" id="restaurant-menu">
	<div class="container">
		<h2 class="restaurant-menu__title">Меню ресторану</h2>
		<div class="menu">
			<div class="menu__columns">
				<div class="menu__columns--right">
					<!-- Hot dishes -->
					<h3 class="menu__title">Гарячі страви</h3>
					<ul class="menu-list">
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Борщ з телятини з квасолею</h4>
								<p class="menu-list__description">
									Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
									помідори, зелень, сметана
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">400 г</span>
								<span class="menu-list__price">240 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Суп сирний з куркою</h4>
								<p class="menu-list__description">
									Курятина, картопля, морква, цибуля, печериці, сир м’який,
									зелень
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">400 г</span>
								<span class="menu-list__price">200 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Паста карбонара</h4>
								<p class="menu-list__description">
									Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">350 г</span>
								<span class="menu-list__price">430 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Стейк зі свинини</h4>
								<p class="menu-list__description">
									Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
									овочами
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">400 г</span>
								<span class="menu-list__price">500 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Горбуша в соусі з білого вина</h4>
								<p class="menu-list__description">
									Ніжна горбуша, вершковий соус на основі білого вина
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">400 г</span>
								<span class="menu-list__price">500 грн</span>
							</div>
						</li>
					</ul>
					<!-- Side dishes and snacks -->
					<h3 class="menu__title">Гарніри та закуски</h3>
					<ul class="menu-list">
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Запечені овочі</h4>
								<p class="menu-list__description">
									Кабачок, перець, помідор, баклажан
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">200 г</span>
								<span class="menu-list__price">230 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Картопля фрі</h4>
								<p class="menu-list__description">Картопля, соус томатний</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">150 г</span>
								<span class="menu-list__price">160 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Картопля по-селянськи</h4>
								<p class="menu-list__description">
									Картопля, спеції, соус пікантний
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">150 г</span>
								<span class="menu-list__price">160 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Хрумкі соління з бочки</h4>
								<p class="menu-list__description">
									Огірок солений, помідор квашений, квашена капуста, морква
									по-корейські
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">250 г</span>
								<span class="menu-list__price">350 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">
									Крильця курячі в медовому соусі
								</h4>
								<p class="menu-list__description">
									Крильця курячі, гірчично-медовий соус, подається з морквою,
									селерою і соусом блючиз
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">400 г</span>
								<span class="menu-list__price">420 грн</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="menu__columns--left">
					<!--salads -->
					<h3 class="menu__title">Салати</h3>
					<ul class="menu-list">
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Цезар з куркою</h4>
								<p class="menu-list__description">
									Куряче філе, листя салату, помідори чері, сир пармезан,
									грінки, соус цезар
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">230 г</span>
								<span class="menu-list__price">450 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Цезар з креветками</h4>
								<p class="menu-list__description">
									Тигрові креветки, листя салату, помідори чері, сир пармезан,
									грінки, соус цезар
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">230 г</span>
								<span class="menu-list__price">300 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">Грецький салат</h4>
								<p class="menu-list__description">
									Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
									листя салату, соус
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">230 г</span>
								<span class="menu-list__price">280 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish">
								<h4 class="menu-list__title">М’ясний салат</h4>
								<p class="menu-list__description">
									Куряче філе або свиняча вирізка, свіжі огірок, помідор,
									болгарський перець, соус ранч
								</p>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">230 г</span>
								<span class="menu-list__price">300 грн</span>
							</div>
						</li>
					</ul>
					<!-- deserts -->
					<h3 class="menu__title">Десерти</h3>
					<ul class="menu-list">
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Торт наполеон</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">230 г</span>
								<span class="menu-list__price">300 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Торт маковий</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">230 г</span>
								<span class="menu-list__price">300 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Тірамісу</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">120 г</span>
								<span class="menu-list__price">260 грн</span>
							</div>
						</li>
					</ul>
					<!-- drinks -->
					<h3 class="menu__title">Напої</h3>
					<ul class="menu-list">
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Чай чорний/зелений</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">500 мл</span>
								<span class="menu-list__price">100 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Еспресо</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">30 мл</span>
								<span class="menu-list__price">100 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Американо</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">150 мл</span>
								<span class="menu-list__price">100 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Капучино</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">200 мл</span>
								<span class="menu-list__price">160 грн</span>
							</div>
						</li>
						<li class="menu-list__item">
							<div class="menu-list__dish menu-list__dish--centered">
								<h4 class="menu-list__title">Лате</h4>
							</div>
							<div class="menu-list__cost">
								<span class="menu-list__weight">200 мл</span>
								<span class="menu-list__price">160 грн</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="btn-thumb">
			<button class="restaurant__btn-menu js-open-modal" data-modal="1" type="button">
				Забронювати столик
			</button>
		</div>
	</div>
</section>
<include src="./partials/common/modal-book-table.html"> </include>