<section class="section-about-restaurant" data-slider="restaurantAbout">
  <div class="container">
    <div class="first-about-restaurant">
      <div>
        <p class="first-about-restaurant__subtitle">Amet minim mollit non</p>
        <h2 class="first-about-restaurant__title">mimiho</h2>
        <p class="first-about-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/restaurant-interior-desktop.jpg    1x,
            ./images/restaurant-interior-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/restaurant-interior-tablet.jpg    1x,
            ./images/restaurant-interior-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          class="first-about-restaurant__img"
          srcset="
            ./images/restaurant-interior-mobile.jpg    1x,
            ./images/restaurant-interior-mobile@2x.jpg 2x
          "
          src="./images/restaurant-interior-mobile.jpg"
          alt="Кухар з бородою слідкує за приготуванням їжі на пательні"
        />
      </picture>
    </div>
    <div class="second-about-restaurant">
      <picture>
        <source
          srcset="
            ./images/restauran-oruri-desktop.jpg    1x,
            ./images/restauran-oruri-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/restauran-oruri-tablet.jpg    1x,
            ./images/restauran-oruri-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          class="second-about-restaurant__img"
          srcset="
            ./images/restauran-oruri-mobile.jpg    1x,
            ./images/restauran-oruri-mobile@2x.jpg 2x
          "
          src="./images/restauran-oruri-mobile.jpg"
          alt="Свіже м’ясо, петрушка, сіль та ніж лежать на дерев’яній дощечці"
        />
      </picture>
      <p class="restaurant__text-brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <!-- slider -->

    <div
      class="swiper restaurant-about__swiper restaurant-about__swiper--homepage-gap"
    >
      <ul class="swiper-wrapper restaurant-about__swiper-wrapper">
        <li class="swiper-slide restaurant-about__swiper-inner">
          <picture>
            <source
              srcset="
                ./images/restauran-helena-desktop.jpg    1x,
                ./images/restauran-helena-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restauran-helena-tablet.jpg    1x,
                ./images/restauran-helena-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/restauran-helena-mobile.jpg    1x,
                ./images/restauran-helena-mobile@2x.jpg 2x
              "
            />
            <img
              class="restaurant__image-slide"
              src="./images/restauran-helena-mobile.jpg"
              alt="lk"
            />
          </picture>
        </li>
        <li class="swiper-slide restaurant-about__swiper-inner">
          <picture>
            <source
              srcset="
                ./images/restauran-mat-desktop.jpg    1x,
                ./images/restauran-mat-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restauran-mat-tablet.jpg    1x,
                ./images/restauran-mat-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/restauran-mat-mobile.jpg    1x,
                ./images/restauran-mat-mobile@2x.jpg 2x
              "
            />
            <img
              class="restaurant__image-slide"
              src="./images/restauran-mat-mobile.jpg"
              alt="lk"
            />
          </picture>
        </li>
        <li class="swiper-slide restaurant-about__swiper-inner">
          <picture>
            <source
              srcset="
                ./images/restauran-helena-desktop.jpg    1x,
                ./images/restauran-helena-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restauran-helena-tablet.jpg    1x,
                ./images/restauran-helena-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/restauran-helena-mobile.jpg    1x,
                ./images/restauran-helena-mobile@2x.jpg 2x
              "
            />
            <img
              class="restaurant__image-slide"
              src="./images/restauran-helena-mobile.jpg"
              alt="lk"
            />
          </picture>
        </li>
        <li class="swiper-slide restaurant-about__swiper-inner">
          <picture>
            <source
              srcset="
                ./images/restauran-mat-desktop.jpg    1x,
                ./images/restauran-mat-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restauran-mat-tablet.jpg    1x,
                ./images/restauran-mat-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/restauran-mat-mobile.jpg    1x,
                ./images/restauran-mat-mobile@2x.jpg 2x
              "
            />
            <img
              class="restaurant__image-slide"
              src="./images/restauran-mat-mobile.jpg"
              alt="lk"
            />
          </picture>
        </li>
        <li class="swiper-slide restaurant-about__swiper-inner">
          <picture>
            <source
              srcset="
                ./images/restauran-helena-desktop.jpg    1x,
                ./images/restauran-helena-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restauran-helena-tablet.jpg    1x,
                ./images/restauran-helena-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/restauran-helena-mobile.jpg    1x,
                ./images/restauran-helena-mobile@2x.jpg 2x
              "
            />
            <img
              class="restaurant__image-slide"
              src="./images/restauran-helena-mobile.jpg"
              alt="lk"
            />
          </picture>
        </li>
      </ul>

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <!-- коментуємо чи видаляемо якщо не потрібно -->

      <!-- коментуємо чи видаляемо якщо не потрібно -->
      <div class="restaurant-about__button">
        <button type="button" class="restaurant-about__btn swiper-button-prev">
          <svg class="restaurant-about__icons">
            <use href="./images/icons.svg#icon-32arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="restaurant-about__btn swiper-button-next">
          <svg class="restaurant-about__icons">
            <use href="./images/icons.svg#icon-32arrow-right"></use>
          </svg>
        </button>
      </div>
      <!-- коментуємо чи видаляемо якщо не потрібно -->
    </div>
  </div>
</section>
