.room-lux {
}
.room-lux__subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: $color-section-subtitle;
}
.mimiho {
    font-family: "FilmP3";
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color-brand-logo;
}

.room-lux__mimiho {
    margin-bottom: 32px;
}
.room-lux__title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.05em;

    &--upper {
        text-transform: uppercase;
    }
}
.room-lux__text {
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: $color-secondary-text;
}
.lux-picture {
    margin: 32px 0;
}

.lux-picture__image {
    background-color: $color-overlay;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.room-lux-gallery {
    transform: translateX(-34%);
}
.swiper {
}
.room-lux__list {
    display: flex;
    gap: 16px;
    @extend %list;
}
.swiper-wrapper {
}
.room-lux__item {
}
.swiper-slide {
}
.swiper-inner {
}
.swiper-btns {
    display: flex;
    gap: 32px;
    margin: 20px 0;
}
.swiper-btn {
    padding: 0;
    background-color: transparent;
    border: none;
}
.swiper-button-prev {
}
.swiper-btns__icon {
}
.swiper-button-next {
}
.btns-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
