.room-lux {
    @media screen and (min-width: 1024px) {
        display: flex;
    }
}
.room-lux__subtitle {
    margin-bottom: 8px;
    font-family: "Times New Roman";
    font-size: 20px;
    line-height: calc(23 / 20);
    color: $color-section-subtitle;

    @media screen and (min-width: 1024px) {
        margin-bottom: 4px;
        font-size: 32px;
        line-height: calc(37 / 32);
    }
}
.room-lux__logo {
    margin-bottom: 32px;
    font-family: "FilmP3";
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $color-brand-logo;

    @media screen and (min-width: 1024px) {
        margin-bottom: 64px;
        font-size: 64px;
        line-height: calc(69 / 64);
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 72px;
    }
}

.title-wrap {
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 176px;
        max-width: 439px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 510px;
    }
}

.room-lux__title {
    margin-bottom: 12px;
    font-family: "Times New Roman";
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.05em;

    &--upper {
        text-transform: uppercase;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: calc(34 / 30);
    }

    @media screen and (min-width: 1280px) {
        font-size: 36px;
        line-height: calc(41 / 36);
    }
}
.room-lux__text {
    margin-bottom: 32px;
    font-size: 12px;
    font-weight: 600;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: $color-secondary-text;

    @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: calc(20 / 16);
    }
    @media screen and (min-width: 1280px) {
        max-width: 400px;
    }
}

.room-lux-picture {
    display: flex;
    justify-content: end;
    margin: 32px 0;

    &__image {
        background-color: $color-overlay;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }

    @media screen and (min-width: 1024px) {
        position: absolute;
        top: 0;
        right: 112px;
        margin: 0;
        transform: translateY(-32px);
    }

    @media screen and (min-width: 1280px) {
        right: 180px;
    }
}

.room-lux-gallery {
    width: 404px;
    transform: translateX(-33.3333%);

    @media screen and (min-width: 1024px) {
        width: 428px;
        transform: translateY(0);
    }

    @media screen and (min-width: 1280px) {
        width: 548px;
    }
}
.swiper {
}
.room-lux__list {
    display: flex;
    // gap: 16px;
    @extend %list;
}

.room-lux__item {
    width: 194px !important;
    // background: $color-overlay;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 1024px) {
        width: 194px !important;
    }

    @media screen and (min-width: 1280px) {
        width: 254px !important;
    }
}

.swiper-btns {
    display: flex;
    gap: 32px;
    margin: 20px 0;

    @media screen and (min-width: 1024px) {
        justify-content: end;
        margin-top: 32px;
        margin-bottom: 0;
    }

    &__icon:hover,
    &__icon:focus {
        fill: $color-link-hover;
    }
}
.swiper-btn {
    padding: 0;
    background-color: transparent;
    border: none;
}
.swiper-button-prev {
}
.swiper-btns__icon {
}
.swiper-button-next {
}
.btns-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
        justify-content: start;
        align-items: center;
        margin-left: auto;
    }
}

.gallery-btns-wrap {
    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

.section-room-tablet {
    @media screen and (min-width: 1024px) {
        padding-bottom: 0;
    }
}

// .slider-section {
//     .swiper-slide {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         // min-height: 184px;
//         color: #fff;
//         font-size: 32px;
//         background-color: red;
//         transition: ease-in-out 0.5s;

//         &.swiper-slide-prev {
//             // краще виставляти у %
//             // зараз 17.3%  дорівнює 200px
//             width: 200px !important;
//             // width: 17.3% !important;
//         }
//     }
// }
