$color-primary-text: #000000;
$color-secondary-text: #7a7a7a;
$color-brand-text: #f3c653;
$color-brand-logo: #494848;
$color-main-logo: #fff;

$color-icon: #f3c653;

$color-primary-bg: #fffdee;
$color-secondary-bg: #f0ecd6;
$color-black-bg: #000;

// rgb
$color-primary-bg-room: rgb(255, 253, 238);
$color-link: rgb(199, 144, 2);
$color-link-hover: rgb(243, 198, 83);
$primary-dark-rgb: rgba(0, 0, 0, 0.4);

$color-primary-button: #000000;
$color-secondary-button-text: #f3c653;
$color-primary-active-button: #f3c653;
$color-secondary-active-button: #ffffff;
$color-border-button: #ffffff;
$color-slider-button: #ffffff;

$color-disable-link: #c79002;
$color-active-link: #f3c653;
$color-link-homepage: #828282;

$color-border-maps: #BABABA;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);


