$color-primary-text: #000000;
$color-secondary-text: #7A7A7A;
$color-brand-text: #F3C653;
$color-brand-logo: #494848;


$color-icon: #F3C653;

$color-primary-bg: #FFFDEE;
$color-secondary-bg: #F0ECD6;

// rgb
$color-primary-bg-room: rgb(255, 253, 238); 
$color-link: rgb(199, 144, 2);
$color-link-hover: rgb(243, 198, 83);
$primary-dark-rgb: rgba(0, 0, 0, 0.4);

$color-primary-button: #000000;
$color-secondary-button-text: #F3C653;
$color-primary-active-button: #F3C653;
$color-secondary-active-button: #ffffff;
$color-border-button: #ffffff;
$color-slider-button: #ffffff;

$color-disable-link: #C79002;
$color-active-link: #F3C653;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);