<div class="header">
  <div class="header__box">
    <h2>
      <a class="header__title link" href="./index.html">mimiho</a>
    </h2>
    <ul class="header-nav">
      <li class="header-nav__list list">
        <a
          class="header-nav__item link"
          href="./partials/restaurant/restaurant-hero.html"
          >Ресторан</a
        >
        <div class="header-phone">
          <a class="header-phone__link link" href="tel:+380955559533">
            <svg class="header-phone__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use></svg
            >095 555 95 33</a
          >
        </div>
      </li>
      <li class="header-nav__list list">
        <a class="header-nav__item link" href="./partials/hotel/hotel-hero.html"
          >Готель</a
        >
        <div class="header-phone">
          <a class="header-phone__link link" href="tel:+380668491089">
            <svg class="header-phone__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use></svg
            >066 849 10 89</a
          >
        </div>
      </li>
    </ul>
    <ul class="header-social list">
      <li class="header-social__list">
        <a class="header-social__link link" href="https://www.instagram.com/">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__list">
        <a class="header-social__link link" href="https://www.facebook.com/">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__list">
        <a class="header-social__link link" href="https://web.telegram.org/">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
