<div class="header">
  <div class="header__box">
    <h2>
      <a class="header__title link" href="">mimiho</a>
    </h2>
    <ul class="nav">
      <li class="nav__list list">
        <a class="nav__item link" href="">Ресторан</a>
        <div class="header-phone">
          <a class="header-phone__link link" href="tel:+380955559533">
            <svg class="header-phone__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use></svg
            >095 555 95 33</a
          >
        </div>
      </li>
      <li class="nav__list list">
        <a class="nav__item link" href="">Готель</a>
        <div class="header-phone">
          <a class="header-phone__link link" href="tel:+380668491089">
            <svg class="header-phone__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use></svg
            >066 849 10 89</a
          >
        </div>
      </li>
    </ul>
    <ul class="header-social list">
      <li>
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-instagram">
            <a href="https://www.instagram.com/"></a>
          </use>
        </svg>
      </li>
      <li>
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-facebook">
            <a href="https://www.facebook.com/"></a>
          </use>
        </svg>
      </li>
      <li>
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-telegram">
            <a href="https://web.telegram.org/"></a>
          </use>
        </svg>
      </li>
    </ul>
  </div>
</div>
