<div class="js-backdrop-modal backdrop">
  <div class="modal modal3" data-modal="3">
    <button class="close-button js-modal-close" type="button">
      <svg width="24" height="24">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <form action="">
      <button type="button"></button>
      <h2>Ціни на номер</h2>
      <div>
        <input type="number" placeholder="1" />
        <p>Кількість ночей</p>
        <input type="number" placeholder="1000" />
        <p>грн</p>
        <button type="submit">Оформити бронювання</button>
      </div>
    </form>
  </div>
</div>
