.hero-room {
  // position: relative;
  // background-image: linear-gradient(
  //     180deg,
  //     #000000 0%,
  //     rgba(0, 0, 0, 0.55) 54.17%,
  //     rgba(0, 0, 0, 0) 100%
  //   ),
  //   url('../images/room-number-mobile.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // max-width: 414px;
  // min-height: 740px;
  // padding: 0;
  // margin: 0 auto;

  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: linear-gradient(
  //       180deg,
  //       #000000 0%,
  //       rgba(0, 0, 0, 0.55) 54.17%,
  //       rgba(0, 0, 0, 0) 100%
  //     ),
  //     url('../images/room-number-mobile2@2x.jpg');
  // }
  // @media screen and (min-width: 1024px) {
  //   max-width: 1024px;
  //   min-height: 720px;
  //   background-image: linear-gradient(
  //       180deg,
  //       #000000 0%,
  //       rgba(0, 0, 0, 0.55) 54.17%,
  //       rgba(0, 0, 0, 0) 100%
  //     ),
  //     url('../images/room-number-tablet.jpg');

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: linear-gradient(
  //         180deg,
  //         #000000 0%,
  //         rgba(0, 0, 0, 0.55) 54.17%,
  //         rgba(0, 0, 0, 0) 100%
  //       ),
  //       url('../images/room-number-tablet@2x.jpg');
  //   }
  // }

  // @media screen and (min-width: 1280px) {
  //   max-width: 1280px;

  //   background-image: linear-gradient(
  //       180deg,
  //       #000000 0%,
  //       rgba(0, 0, 0, 0.55) 54.17%,
  //       rgba(0, 0, 0, 0) 100%
  //     ),
  //     url('../images/room-number-desktop.jpg');

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: linear-gradient(
  //         180deg,
  //         #000000 0%,
  //         rgba(0, 0, 0, 0.55) 54.17%,
  //         rgba(0, 0, 0, 0) 100%
  //       ),
  //       url('../images/room-number-desktop2@2x.jpg');
  //   }
  // }
  &__container {
    position: absolute;
    z-index: 30;
    padding-bottom: 14px;
    transform: translateY(-100%);

    @media screen and (min-width: 1028px) {
      padding-bottom: 24px;

    }
    @media screen and (min-width: 1280px) {
      padding: 72px 85px 48px;
      transform: translateY(-100%);
    }
  }
  &__title {
    height: 64px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-slider-button;
    margin-bottom: 14px;

    @media screen and (max-width: 414px) {
        font-size: 26px;
        line-height: calc(28px / 26px);
      }

    @media screen and (min-width: 1024px) {
      margin-bottom: 24px;
      font-size: 36px;
      line-height: 1.13;
      width: 509px;
      height: 41px;
    }

    &--lowercase {
      text-transform: lowercase;
    }

    &--spacing {
      letter-spacing: 0;
    }
  }
  &__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $color-slider-button;
    margin-bottom: 17px;
    width: 325px;
    height: 61px;

    @media screen and (max-width: 414px) {
      width: 100%;
        line-height: calc(11px / 9px);
      }

    // @media screen and (max-width: 414px) {
    //   width: 90%;
    //   height: 100%;
    // }

    @media screen and (min-width: 1024px) {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 0;
      width: 400px;
      height: 83px;
    }
  }

  &__contact-wrap {
    display: flex;
    align-items: center;
    gap: 70px;

    @media screen and (min-width: 1024px) {
      gap: 191px;

    }
    @media screen and (min-width: 1280px) {
      gap: 371px;
    }
  }
  &__address {
    z-index: 36;
    top: -415px;
    right: 15px;
    position: absolute;
    width: 211px;
    height: 47px;
    padding: 6px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    @media screen and (min-width: 1024px) {
      top: 0;
      right: 0;
      position: static;
      width: 285px;
      height: 56px;
      bottom: 22px;
      left: 47px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  &__address-link {
    display: flex;
    gap: 8px;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: $color-hero-location;

    @media screen and (min-width: 1024px) {
      font-size: 16px;
    }
  }

  &__address-icon {
    fill: $color-brand-text;

    &:hover,
    &:focus {
      fill: $color-secondary-active-button;
    }
  }

  &__button-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 70px;

    @media screen and (min-width: 1024px) {
    }
  }

  &__button {
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $color-secondary-button-text;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid $color-border-button;
    border-radius: 25px;
    text-align: center;
    width: 232px;
    height: 48px;

    @media screen and (max-width: 414px) {
      width: 100%;
      width: 200px;
        font-size: 12px;
        line-height: calc(16px / 12px);
      }

    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      background: $color-secondary-active-button;
    }
  }

  &__icon-list {
    flex-direction: column;
    display: flex;
    gap: 8px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 20px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}

.hero-location {
  width: 20px;
  height: 20px;
  @media screen and (min-width: 1024px) {
    width: 24px;
    height: 24px;
  }
}

.flex-adress-icon {
  display: flex;
  align-items: center;
  gap: 41px;
}
.flex-container {
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.text-container {
  display: block;
}
.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: $color-secondary-active-button;
  padding-top: 350px;

  @media screen and (min-width: 1024) {
    padding-top: 340px;
  }
  @media screen and (min-width: 1280) {
    padding-top: 412px;
  }
}

.gallery-hero-sliders {
 
  position: relative;
  top:0;
  left:0;
  // transform: translate(-50%, -50%);
}

.hero-room {
  position: relative;
  margin: 0 auto;
  max-width: 414px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }

     @media screen and (min-width: 1280px) {
       max-width: 1280px;
     }
}

.slaider-hero-gallery__item {
 
}

.container-slider {
  position: relative;
  width: 100%;
}

.slick-hero-prev,
.slick-hero-next {
  position: absolute;
  z-index: 10;
  // top: calc(50% - (384px - 100vw));

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;

  background: rgba(0, 0, 0, 0.65);
  border: none;

  transform: translateY(-50%);

  cursor: pointer;

  @media screen and (min-width: 319px) {
    top: 50%;
  }

  @media screen and (min-width: 1280px) {
    top: 412px;

    transform: translateY(0);
  }
}

.slick-hero-prev {
  left: 15px;

  @media screen and (min-width: 1024px) {
    left: 47px;
  }

  @media screen and (min-width: 1280px) {
    left: 85px;
  }
}

.slick-hero-next {
  right: 15px;
 background:  rgba(0, 0, 0, 0.65);


  @media screen and (min-width: 1024px) {
    right: 47px;
  }

  @media screen and (min-width: 1280px) {
    right: 85px;
  }
}

.gallery-hero-slider__img {
  z-index: 5;
}

.hero-slick-arrow {
  fill: $color-icon;

  // transition: fill var(--time) var(--cubic);

  // &:hover,
  // &:focus {
  //   fill: var(--primary-light);
  // }
}

.bg-shadow {
  z-index: 25;
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 143px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);;
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
}
