<section class="section section-amenities">
  <div class="container">
    <div class="advantages__main">
      <h2 class="advantages__title-main">Зручності у номері</h2>
      <p class="advantages__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <ul class="advantages list">
      <li class="advantages__item">
        <h3 class="advantages__title">Загальні</h3>
        <div class="description">
          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>

          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Ванна кімната</h3>
        <div class="description">
          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>

          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Спальня</h3>
        <div class="description">
          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Кухня</h3>
        <div class="description">
          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>

          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Медіа</h3>
        <div class="description">
          <p class="description__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>

    <div class="amenities__box">
      <button class="amenities__box__button" type="button">
        Оформити бронювання
      </button>
      <a href="/src/hotel.html" class="amenities__box__link"
        ><span>Повернутися до перегляду номерів</span>
        <svg class="amenities__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-arrow-right"></use></svg
      ></a>
    </div>
  </div>
</section>