<section class="hero-room">
	<div class="hero-room__container container">
		<h1 class="hero-room__title">Двомісний номер <span class="hero-room__title--lowercase">люкс</span></h1>
		<p class="hero-room__subtitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
			officia consequat duis enim velit
			mollit. Exercitation veniam consequat sunt nostrud amet.</p>
		<div class="hero-room__contact-wrap">
			<address class="hero-room__address">
				<a class="hero-room__address-link link" href="https://goo.gl/maps/GFzaZpafkidJ7sfY7" target="_blank"
					rel="noopener noreferrer nofollow">
					<svg class="hero-room__address-icon hero-location">
						<use href="/src/images/icons.svg#icon-location">
					</svg>Україна, м. Полтава,
					<br>
					вул. Маршала Бірюзова, 15
				</a>
			</address>
			<div class="hero-room__button-wrap">
				<button class="hero-room__button" type="button" js-open-modal data-modal="3">Переглянути ціни</button>
				<ul class="hero-room__icon-list list">
					<li class="hero-room__icon-item"><a class="hero-room__icon-link" target="_blank" href="">
							<svg class="hero__address-icon" width=24 height=24>
								<use href="/src/images/icons.svg#icon-instagram">
							</svg></a></li>
					<li class="hero-room__icon-item"><a class="hero-room__icon-link" target="_blank" href="">
							<svg class="hero__address-icon" width=24 height=24>
								<use href="/src/images/icons.svg#icon-facebook">
							</svg></a></li>
					<li class="hero-room__icon-item"><a class="hero-room__icon-link" target="_blank" href="">
							<svg class="hero__address-icon" width=24 height=24>
								<use href="/src/images/icons.svg#icon-telegram">
							</svg></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>