<section class="hero-room">
  <div class="arrows container">
    <button type="button" class="swiper-btn swiper-button-prev">
      <svg class="swiper-btns__icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button type="button" class="swiper-btn swiper-button-next">
      <svg class="swiper-btns__icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
  <div class="hero-room__container container flex-container">
    <div class="text-container">
      <h1 class="hero-room__title">
        Двомісний номер <span class="hero-room__title--lowercase">люкс</span>
      </h1>
      <p class="hero-room__subtitle">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="hero-room__contact-wrap">
      <div class="flex-adress-icon">
        <address class="hero-room__address">
          <a
            class="hero-room__address-link link"
            href="https://goo.gl/maps/GFzaZpafkidJ7sfY7"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hero-room__address-icon hero-location">
              <use href="/src/images/icons.svg#icon-location"></use></svg
            >Україна, м. Полтава,
            <br />
            вул. Маршала Бірюзова, 15
          </a>
        </address>
        <ul class="hero-room__icon-list list">
          <li class="hero-room__icon-item">
            <a class="hero-room__icon-link" target="_blank" href="https://www.instagram.com/">
              <svg class="hero__address-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="hero-room__icon-item">
            <a class="hero-room__icon-link" target="_blank" href="https://www.facebook.com/">
              <svg class="hero__address-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="hero-room__icon-item">
            <a class="hero-room__icon-link" target="_blank" href="https://web.telegram.org/z/">
              <svg class="hero__address-icon" width="24" height="24">
                <use href="/src/images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <button
        class="hero-room__button js-open-modal"
        type="button"
        data-modal="3"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
