.contacts {
    background-color: $color-primary-bg;

@media screen and (min-width: 1024px) {
height: 521px;
}

@media screen and (min-width: 1280px) {
    height: 550px;
}
    
 

&__header {
            display: none;
        }



&__name {

    font-family: FilmP3;
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.3em;
    text-align: left;
    color: $color-brand-logo;
    padding-top: 36px;
    margin-bottom: 12px; 

@media screen and (min-width: 1024px) {

    font-family: FilmP3;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.3em;
    text-align: left;
    padding-top: 56px;
    margin-bottom: 8px;
}

@media screen and (min-width: 1280px) {

    text-align: left;
    padding-top: 56px;
    margin-bottom: 16px;
}
}


&__industry {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $color-secondary-text;
    margin-bottom: 24px;

@media screen and (min-width: 1024px) {
    margin-bottom: 40px;


}
    
@media screen and (min-width: 1280px) {
    

    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;


}

}


&__list {

    // padding-bottom: 32px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

@media screen and (min-width: 1024px) {
    
    // display: block;
}

@media screen and (min-width: 1280px) {
    
    // padding-bottom: 74px;
}

}




&__link {

    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
        display: block;

    }

@media screen and (min-width: 1280px) {
    margin-bottom: 24px;
}

    
}


&__title{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $color-disable-link;

    @media screen and (min-width: 1024px) {

            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $color-secondary-text;
            margin-bottom: 8px;
    }

        @media screen and (min-width: 1280px) {
            font-style: normal;
                font-size: 20px;
                line-height: 24px;
        }

}

&__link-restouran {

    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    width: 144px;
    height: 40px;
    background-color: $color-border-button;
    border: 0.5px solid $color-secondary-button-text;
    border-radius: 2px;
    // gap: 8px;
    margin-left: 22px;

    // padding-right: 8px;

    @media screen and (min-width: 1024px) {
        margin-left: 0;
        justify-content: flex-start;
    }
}

&__link-hotel {

    box-sizing: border-box;
    display: flex;
    height: 40px;
    background-color: $color-border-button;
    border: 0.5px solid $color-secondary-button-text;
    border-radius: 2px;
    margin-left: 54px;
   
    // padding-right: 8px;

        @media screen and (min-width: 1024px) {
                margin-left: 0;
                margin-bottom: 48px;
                
            }


    

}

&__hotel-tel {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 12px;
    min-width: 260px;

    @media screen and (min-width: 1024px) {
        gap: 16px;
            min-width: 264px;
    }
}

&__link-tel {
    list-style: none;
    text-decoration: none;
    

   


    // &:not(:last-child) {
    // margin-right: 0;
    // }

}



&__icon {
    fill: $color-icon;
        // padding-left: 8px;
            // margin-right: 14px;

}

&__maps-icon {
    fill: $color-icon;
        // padding-left: 8px;
            // margin-right: 10px;
}


&__tel {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 0.02em;
    color: $color-brand-logo;
    text-decoration: none;
    gap: 8px;
    padding-left: 8px;
}

&__maps {
    display: block;
    margin-top: 0;
}

&__maps-box {
padding-bottom: 32px;


}

&__maps-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: $color-brand-logo;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 260px;
    height: 76px;
    background-color: $color-border-button;
    border: 0.5px solid $color-secondary-button-text;
    border-radius: 2px;
    margin-left: 124px;
    margin-bottom: 32px;
    padding-right: 33px;
    padding-left: 10px;
    gap:10px;

    
    @media screen and (min-width: 1024px) {
justify-content: flex-start;
margin-left: 0;
}



    @media screen and (min-width: 1280px) {
    
            color: $color-link-homepage;
            
        }
    

}

&__box-reustoran {
    position: 50%;
    width: 144px;
    height: 40px;
    background: $color-border-button;
    border: 0.5px solid color-active-link;
    border-radius: 2px;

}

&__position {
    display: flex;
    margin-bottom: 16px;
}





&__maps-images {
    
    box-sizing: border-box;
    width: 384px;
    height: 220px;
    border: 1px solid $color-border-maps;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;


@media screen and (min-width: 1024px) {
    width: 535px;
        height: 412px;
        // margin-left: 427px;
       
        
}

@media screen and (min-width: 1280px) {
    width: 634px;
    height: 412px;
    // margin-left: 108px;
}

}

&__cotainer {

    @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    gap: 101px;
    }
    
}

&__desktop {

@media screen and (min-width: 1024px) {
    flex-direction: row;
}
}

}


