.about {
    background-color: $color-primary-bg;

    &__photo--text1 {

        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            gap: 28px;
        }
    }

    &__main {
        display: block;
        padding-top: 16px;

        @media screen and (min-width:1024px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-left: auto;
            padding-top: 0;
        }

        @media screen and (min-width: 1280px) {
            gap: 67px;
            padding-top: 0;
        }
    }

    &__subtitle {
        text-align: end;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        color: #b4b4b4;

        @media screen and (min-width: 1024px) {
            font-size: 32px;
            line-height: 1.16;
        }
    }

    &__logo {
        text-align: end;
        text-transform: uppercase;
        margin-bottom: 16px;
        font-family: 'FilmP3';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.075;
        letter-spacing: 0.3em;

        @media screen and (min-width: 1024px) {
            font-size: 64px;
            line-height: 1.078;
            margin-bottom: 24px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 24px;
        }
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $color-secondary-text;
        margin-bottom: 28px;

        @media screen and (min-width: 1024px) {
            max-width: 440px;
            font-size: 16px;
        }

        @media screen and (min-width: 1280px) {
            font-weight: 700;

        }
    }
    &__texting{
        max-width: 242px;
        margin-left: auto;

        @media screen and (min-width: 1024px){
            max-width: 100%;
            margin-left: 0;

        }
    }

    &__photo--picture1 {
        background: #DADADA;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;

        @media screen and (min-width: 1024px) {
            display: flex;
            max-width: 400px;
            max-height: 524px;
            margin-right: 46px;
            transform: translateY(-24px);
        }

        @media screen and (min-width: 1280px) {
            max-width: 100%;
            max-height: 100%;
            transform: translateY(-24px);
        }
    }

    &__photo--text2 {
        display: flex;
        margin-top: 32px;
        gap: 21px;
        align-items: center;

        @media screen and (min-width: 1024px) {
            padding-top: 0;
            justify-content: end;
            margin-top: 0;
            transform: translateY(-40px);
        }

        @media screen and (min-width: 1280px) {
            transform: translateY(-80px);
        }
    }

    &__photo--picture2 {
        background: #DADADA;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;

        @media screen and (min-width: 1024px) {
            max-width: 350px;
            max-height: 500px;
            
        }

        @media screen and (min-width: 1280px) {
            max-width: 460px;
            max-height: 574px;
            
        }
    }

    &__text--akcent {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $color-disable-link;
        max-width: 163px;

        @media screen and (min-width: 1024px) {
            max-width: 312px;
            font-size: 16px;
        }
    }
}
