.details-restaurant {
  position: relative;
  max-width: 414px;
  padding-top: 24px;
  padding-bottom: 40px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(to right, $primary-dark-rgb, $primary-dark-rgb),
    url(../images/pexels-kheng-mobile.jpg);
  &__title {
    font-family: "FilmP3";
    font-size: 40px;
    line-height: 1.075;
    color: #ffffff;
    margin-left: auto;
    margin-right: 130px;
    margin-bottom: 12px;
    width: 127px;
    letter-spacing: 0.3em;
  }
  &__subtitle {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    margin-left: auto;
    margin-right: 130px;
    margin-bottom: 20px;
    width: 127px;
    letter-spacing: 0.02em;
  }
  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #bababa;
    width: 256px;
    margin-left: auto;
    margin-bottom: 48px;
  }

  &__swiper-list {
    position: relative;
    list-style: none;
    padding: 0;
    // transform: translateX(30%);
    height: 270px;
  }
  
  &__list {
    list-style: none;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  &__button {
    position: relative;
    width: 236px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
    border-radius: 25px;
    gap: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: $color-secondary-button-text;
    padding: 14px 24px;
    transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      cursor: pointer;
      background-color: #ffffff;
    }
    &:focus {
      background-color: #ffffff;
    }
  }
  &__link {
    position: absolute;
    left: 2px;
    transform: translateY(-50%);
    padding: 14px 31px;
    color: $color-secondary-button-text;
    text-decoration: none;
    display: inline-block;
  }
}
@media (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(to right, $primary-dark-rgb, $primary-dark-rgb)
      url(../images/pexels-kheng-mobile@2x.jpg);
  }
}


@media screen and (min-width: 1024px) {
  .details-restaurant {
    max-width: 1024px;
    padding-top: 48px;
    padding-bottom: 94px;
    background-image: linear-gradient(to right, $primary-dark-rgb, $primary-dark-rgb),
      url(../images/pexels-kheng-tablet.jpg);
    &__title {
      font-size: 64px;
      margin-left: 231px;
      margin-right: 0;
      margin-bottom: 16px;
      width: 202px;
    }
    &__subtitle {
      font-size: 24px;
      margin-left: 231px;
      margin-right: 0;
      margin-bottom: 8px;
      width: 126px;
    }
    &__text {
      font-size: 16px;
      width: 610px;
      margin-left: 231px;
      // margin-bottom: 198px;
    }
    &__list {
      width: 236px;
      
      
          @media screen and (min-width: 1024px) {
            margin-bottom: 30px+24px;
          }
        
    }
  }
  @media (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: linear-gradient(to right, $primary-dark-rgb, $primary-dark-rgb)
        url(../images/pexels-kheng-tablet@2x.jpg);
    }
  }
 
}

.details-restaurant__swiper {
  position: relative;
  // left: 312px;
  // top: 254px;
  // margin-left: 0;
  margin-right: 0;
  // display: flex;
  // justify-content: flex-end;
  max-width: 568px;
  // transform: translateX(30%);

  @media screen and (min-width: 1280px) {
    width: 64%;
    max-width: 1000px;
  }
}


@media screen and (min-width: 1280px) {
  .details-restaurant {
    max-width: 1280px;
    background-image: linear-gradient(to right, $primary-dark-rgb, $primary-dark-rgb),
      url(../images/pexels-kheng-desktop.jpg);
    &__title {
      margin-left: 253px;
    }
    &__subtitle {
      margin-left: 253px;
    }
    &__text {
      margin-left: 253px;
      // margin-bottom: 200px;
    }
    &__list {
      width: 236px;
    }
  }
  @media (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: linear-gradient(to right, $primary-dark-rgb, $primary-dark-rgb)
        url(../images/pexels-kheng-desktop@2x.jpg);
    }
  }
  // .details-restaurant__swiper {
  //   position: absolute;
  //   left: 353px;
  //   top: 254px;
  //   // max-width: 875px;
  // }
}





.details-restaurant__swiper-buttons{
  display: flex;
  // justify-content: flex-end;
  
    gap: 32px;
    // margin: 20px 0;
    fill: #ffffff;
  
    &__icon:hover,
    &__icon:focus {
      fill: $color-link-hover;
}
}


.details-restaurant__slider-btn-thumb{
@media screen and (min-width: 1024px) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 32px;
  display: flex;
  
}

}

.homepage-about-restaurant{
    position: relative;

    padding-top: 48px;
        padding-bottom: 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/pexels-kheng-mobile.jpg');
    background-color: rgba(0, 0, 0, 0.7);
    // background-image: url('../images/pexels-kheng-tang-mobile.jpg');
    background-size: cover;
    background-position: 50% 50%;

    max-width: 414px;
    margin: 0 auto;
    
    // media mobile
    
    @media (min-deavice-pixel-ratio: 2) and (max-width: 1023px),
    (min-resolution: 192dpi) {
         background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/pexels-kheng-mobile@2x.jpg');
    } 
  
    // media tablet

    @media screen and (min-width: 1024px) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/pexels-kheng-tablet.jpg');
        max-width: 1024px;
    }
    @media  (min-deavice-pixel-ratio: 2) and (min-width: 1024px),
    (min-resolution: 192dpi) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/pexels-kheng-tablet@2x.jpg');
        max-width: 1024px;
    }
    
    // desktop

    @media screen and (min-width: 1280px) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/pexels-kheng-desktop.jpg');
        max-width: 1280px;
    }
    @media  (min-deavice-pixel-ratio: 2) and (min-width: 1280px),
    (min-resolution: 192dpi) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/pexels-kheng-desktop@2x.jpg');
        max-width: 1280px;
    }


  }
.homepage-about-restaurant__slider-btn-thumb {
  @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-between;
      gap: 32px;
    }
}

.homepage-about-hotel__description {
  max-width: 259px;
@media screen and (min-width: 1024px) {
    max-width: 610px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 610px;
  
  }
}

.homepage-about-restaurant__box {
margin-left: 54px;

@media screen and (min-width: 1024px) {
  margin-left: 192px;
}

  @media screen and (min-width: 1280px) {
      margin-left: 252px;
    }
}

.about-restaurant-slider__button
 {
    // margin-bottom: 32px;
    margin-top: 16px;
justify-content: flex-end;
    display: flex;
    z-index: 10;
    fill: white;
    gap: 32px;

    @media screen and (min-width: 1024px) {
      justify-content: flex-start;
    }

    @media screen and (min-width: 1024px) {
        margin-top: 24px;
    }

 }