.contacts {
    height: 550px;
    width: 100%;
    background-color: $color-primary-bg;

&__header {
            display: none;
        }



&__name {

    font-family: FilmP3;
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.3em;
    text-align: left;
    color: $color-brand-logo;
    padding-top: 36px;
    margin-bottom: 12px; 

@media screen and (min-width: 1024px) {

    font-family: FilmP3;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.3em;
    text-align: left;
    padding-top: 56px;
    margin-bottom: 8px;
}

@media screen and (min-width: 1280px) {

    text-align: left;
    padding-top: 56px;
    margin-bottom: 16px;
}
}


&__industry {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: $color-secondary-text;
    margin-bottom: 24px;

@media screen and (min-width: 1024px) {
    margin-bottom: 40px;


}
    
@media screen and (min-width: 1280px) {
    

    font-size: 20px;
    line-height: 24px;
    margin-bottom: 52px;


}

}


&__list {

    padding-bottom: 32px;
    padding-left: 0;

@media screen and (min-width: 1024px) {
    
    padding-bottom: 40px;
}

@media screen and (min-width: 1280px) {
    
    padding-bottom: 74px;
}

}




&__link {

    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 32px;


}


&__title{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $color-disable-link;

}

&__link-restouran {

    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 144px;
    height: 40px;
    background-color: $color-border-button;
    border: 0.5px solid $color-secondary-button-text;
    border-radius: 2px;
    margin-left: 32%;
}

&__link-hotel {

    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 260px;
    height: 40px;
    background-color: $color-border-button;
    border: 0.5px solid $color-secondary-button-text;
    border-radius: 2px;
    margin-left: 32%;
    

}

&__hotel-tel {
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 8px;
}

&__link-tel {
    list-style: none;
    text-decoration: none;
    margin-right: 12px;

    &:not(:last-child) {
    margin-right: 12px;
    }

}



&__icon {
    fill: $color-icon;

}

&__tel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: $color-brand-logo;
    text-decoration: none;


}





&__box-reustoran {
    position: 50%;
    width: 144px;
    height: 40px;
    background: $color-border-button;
    border: 0.5px solid color-active-link;
    border-radius: 2px;

}

&__position {
    display: flex;
    margin-bottom: 16px;
}









&__box-maps {
    display: flex;
}

&__link-maps {

    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 76px;
    background-color: $color-border-button;
    border: 0.5px solid $color-secondary-button-text;
    border-radius: 2px;
    margin-left: 32%;
}



&__maps-images {
    box-sizing: border-box;
    position: absolute;
    width: 384px;
    height: 220px;
    border: 1px solid #BABABA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}




}


