<section class="room room-medium">
    <div class="container">
        <div class="room__thumb">
            <div class="room__box">
                <div class="room__title-thumb">
                    <p class="room__subtitle">Amet minim mollit non</p>
                    <h2 class="room__logo">Mimiho</h2>
                    <h3 class="room__title">Двомісний номер</h3>
                    <p class="room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit
                        officia
                        consequat duis enim
                        velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
                <picture class="room__picture">
                    <source
                        srcset="/src/images/modern-studio-desktop.jpg 1x, /src/images/modern-studio-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source srcset="/src/images/modern-studio-tablet.jpg 1x, /src/images/modern-studio-tablet@2x.jpg 2x"
                        media="(min-width: 1024px)">
                    <source srcset="/src/images/modern-studio-mobile.jpg 1x, /src/images/modern-studio-mobile@2x.jpg 2x"
                        media="(max-width: 1023px)">
                    <img class="room__img" src="/src/images/modern-studio-mobile.jpg"
                        alt="Номер в стилі модерну з білим двомісним ліжком">
                </picture>
            </div>
            <div class="room__slide-thumb">
                <div class="room__slide-menu room__slick">
                    <div class="room__slide-item">
                        <picture>
                            <source srcset="/src/images/bathroom-desktop.jpg 1x, /src/images/bathroom-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <source srcset="/src/images/bathroom-tablet.jpg 1x, /src/images/bathroom-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source srcset="/src/images/bathroom-mobile.jpg 1x, /src/images/bathroom-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <img class="room__slide-img" src="/src/images/bathroom-mobile.jpg"
                                alt="Куток особистої гігієни">
                        </picture>
                    </div>
                    <div class="room__slide-item">
                        <picture>
                            <source srcset="/src/images/cup-desktop.jpg 1x, /src/images/cup-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <source srcset="/src/images/cup-tablet.jpg 1x, /src/images/cup-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source srcset="/src/images/cup-mobile.jpg 1x, /src/images/cup-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <img class="room__slide-img" src="/src/images/cup-mobile.jpg"
                                alt="Чашка кави на фоні вікна">
                        </picture>
                    </div>
                    <div class="room__slide-item">
                        <picture>
                            <source srcset="/src/images/slaider1-desktop.jpg 1x, /src/images/slaider1-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <source srcset="/src/images/slaider1-tablet.jpg 1x, /src/images/slaider1-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source srcset="/src/images/slaider1-mobile.jpg 1x, /src/images/slaider1-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <img class="room__slide-img" src="/src/images/slaider1-mobile.jpg"
                                alt="Чорна софа та шухлядка на фоні білої стіни">
                        </picture>
                    </div>
                    <div class="room__slide-item">
                        <picture>
                            <source srcset="/src/images/slaider2-desktop.jpg 1x, /src/images/slaider2-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <source srcset="/src/images/slaider2-tablet.jpg 1x, /src/images/slaider2-tablet@2x.jpg 2x"
                                media="(min-width: 1024px)">
                            <source srcset="/src/images/slaider2-mobile.jpg 1x, /src/images/slaider2-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <img class="room__slide-img" src="/src/images/slaider2-mobile.jpg" alt="Ванна кімната">
                        </picture>
                    </div>
                </div>
                <div class="room__btn-thumb">
                    <button type="button" class="room__btn">Детальніше</button>
                    <button type="button" class="room__btn">Переглянути ціни</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <svg class="room__icon-arrow-left" width="32">
    <use href="/src/images/icons.svg#icon-32arrow-left"></use>
</svg>
<svg class="room__icon-arrow-right" width="32" height="32">
    <use href="/src/images/icons.svg#icon-32arrow-right"></use>
</svg> -->