<section class="hero-hotel">
  <div class="hero-hotel__container container">
    <h1 class="hero-hotel__title">
      mimih<span class="hero-hotel__title--spacing">o</span>
    </h1>
    <p class="hero-hotel__subtitle">Готель</p>
    <div class="hero-hotel__contact-wrap">
      <address class="hero-hotel__address">
        <a
          class="hero-hotel__address-link link"
          href="https://goo.gl/maps/GFzaZpafkidJ7sfY7"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="hero-hotel__address-icon hero-location">
            <use href="/src/images/icons.svg#icon-location"></use></svg
          >Україна, м. Полтава,
          <br />
          вул. Маршала Бірюзова, 15
        </a>
      </address>
      <div class="hero-hotel__button-wrap">
        <button
          class="hero-hotel__button hero-hotel__button--first js-open-modal"
          type="button"
          data-modal="2"
        >
          Забронювати номер
        </button>
        <button
          class="hero-hotel__button hero-hotel__button--second js-open-modal"
          type="button"
          data-modal="3"
        >
          Переглянути ціну
        </button>
      </div>
    </div>
    <ul class="hero-hotel__icon-list list">
      <li class="hero-hotel__icon-item">
        <a class="hero-hotel__icon-link" target="_blank" href="">
          <svg class="hero-hotel__address-icon" width="24" height="24">
            <use href="/src/images/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="hero-hotel__icon-item">
        <a class="hero-hotel__icon-link" target="_blank" href="">
          <svg class="hero-hotel__address-icon" width="24" height="24">
            <use href="/src/images/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="hero-hotel__icon-item">
        <a class="hero-hotel__icon-link" target="_blank" href="">
          <svg class="hero-hotel__address-icon" width="24" height="24">
            <use href="/src/images/icons.svg#icon-telegram"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
<include src="./partials/common/modal-apartment-price.html"> </include>
