.container--footer {
  background-color: $color-black-bg;
  min-width: 100%;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 240px;

  @media screen and (min-width: 1024px) {
    justify-content: normal;
    height: 304px;
  }
}

.footer-title {
  @media screen and (min-width: 1024px) {
    margin-left: 107px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 169px;
  }

  &__link {
    text-transform: uppercase;
    font-family: 'FilmP3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43px / 40px);
    letter-spacing: 0.3em;
    color: $color-brand-text;

    @media screen and (min-width: 1024px) {
      font-size: 64px;
      line-height: calc(69px / 64px);
    }
  }
}

.footer-nav {
  @media screen and (min-width: 1024px) {
    display: flex;
    margin-left: 163px;
    gap: 137px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px / 20px);
    letter-spacing: 0.02em;
    color: $color-brand-text;
  }
}

.footer-social {
  margin-top: 33px;
  display: flex;
  align-items: center;
  gap: 23px;
  fill: $color-icon;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  &__link {
    display: flex;
    border: 0.5px solid $color-icon;
    padding: 10px 15px 10px 12px;
    fill: $color-icon;
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20px / 16px);
    letter-spacing: 0.02em;
    color: $color-icon;
  }

  &__telegram {
    margin-left: 19.5px;
  }

  &__facebook {
    margin-left: 17px;
  }

  &__instagram {
    margin-left: 12px;
  }
}
