<section class="section-about-restaurant">
  <div class="container">
    <div class="first-about-restaurant">
      <div>
        <p class="first-about-restaurant__subtitle">Amet minim mollit non</p>
        <h2 class="first-about-restaurant__title">mimiho</h2>
        <p class="first-about-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/interior-desktop.jpg    1x,
            ./images/interior-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/interior-tablet.jpg    1x,
            ./images/interior-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/interior-mobile.jpg    1x,
            ./images/interior-mobile@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="first-about-restaurant__img"
          src="./images/interior-mobile.jpg"
          alt="restaurant"
        />
      </picture>
    </div>
    <div class="second-about-restaurant">
      <picture>
        <source
          srcset="
            ./images/oruri-desktop.jpg    1x,
            ./images/oruri-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/oruri-tablet.jpg 1x, ./images/oruri-tablet@2x.jpg 2x"
          media="(min-width: 1024px)"
        />
        <source
          srcset="./images/oruri-mobile.jpg 1x, ./images/oruri-mobile@2x.jpg 2x"
          media="(max-width: 1023px)"
        />
        <img
          class="second-about-restaurant__img"
          src="./images/oruri-tablet.jpg"
          alt="window view restaurant"
        />
      </picture>

      <p class="second-about-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
