<section class="homepage-about-hotel" data-slider="hotel-slider">
  <div class="container">
    <div class="homepage-about-hotel__bg-layout">
      <div class="homepage-about-hotel__text-thumb">
        <h3 class="logo homepage-about-hotel__logo">Mimiho</h3>
        <h2 class="homepage-about-hotel__title">Готель</h2>
        <p class="homepage-about-hotel__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
      <div class="homepage-about-hotel__slider-btn-thumb">
        <div class="about-hotel-slider">
          <ul class="swiper-wrapper about-hotel-slider__wrapper">
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/room-homepage-desktop.jpg    1x,
                    ./images/room-homepage-desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/room-homepage-tablet.jpg    1x,
                    ./images/room-homepage-tablet@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/room-homepage-mobile.jpg    1x,
                    ./images/room-homepage-mobile@2x.jpg 2x
                  "
                />
                <img
                  width="274"
                  src="./images/room-homepage-mobile.jpg"
                  alt=""
                />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/slaider5-desktop.jpg    1x,
                    ./images/slaider5-desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/slaider5-tablet.jpg    1x,
                    ./images/slaider5-tablet@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/slaider5-mobile.jpg    1x,
                    ./images/slaider5-mobile@2x.jpg 2x
                  "
                />
                <img width="274" src="./images/slaider5-mobile.jpg" alt="" />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/slaider14-desktop.jpg    1x,
                    ./images/slaider14-desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/slaider14-tablet.jpg    1x,
                    ./images/slaider14-tablet@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/slaider14-mobile.jpg    1x,
                    ./images/slaider14-mobile@2x.jpg 2x
                  "
                />
                <img width="274" src="./images/slaider14-mobile.jpg" alt="" />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/slaider11-desktop.jpg    1x,
                    ./images/slaider11-desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/slaider11-tablet.jpg    1x,
                    ./images/slaider11-tablet@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/slaider11-mobile.jpg    1x,
                    ./images/slaider11-mobile@2x.jpg 2x
                  "
                />
                <img width="274" src="./images/slaider11-mobile.jpg" alt="" />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/slaider8-desktop.jpg    1x,
                    ./images/slaider8-desktop@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/slaider8-tablet.jpg    1x,
                    ./images/slaider8-tablet@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 1023px)"
                  srcset="
                    ./images/slaider8-mobile.jpg    1x,
                    ./images/slaider8-mobile@2x.jpg 2x
                  "
                />
                <img width="274px" src="./images/slaider8-mobile.jpg" alt="" />
              </picture>
            </li>
            <!-- <li class="swiper-slide swiper-slide-homepage">
                      <img height="270" src="./images/pexels-ulgi-mobile.jpg" alt="">
                  </li>  -->
          </ul>
          <div class="about-hotel-slider__button">
            <button
              type="button"
              class="about-hotel-slider__btn swiper-button-prev"
            >
              <svg class="about-hotel-slider__icons">
                <use href="./images/icons.svg#icon-32arrow-left"></use>
              </svg>
            </button>
            <button
              type="button"
              class="about-hotel-slider__btn swiper-button-next"
            >
              <svg class="about-hotel-slider__icons">
                <use href="./images/icons.svg#icon-32arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="homepage-about-hotel__flex-thumb">
          <div class="homepage-about-hotel__slider"></div>
          <div class="homepage-about-hotel__button-thumb">
            <button
              class="homepage-about-hotel__button js-open-modal"
              data-modal="2"
            >
              Забронювати номер
            </button>
            <a
              class="homepage-about-hotel__button js-open-modal"
              data-modal="3"
            >
              Переглянути ціни
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    