<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="homepage-about-hotel">
      <div class="container">
        <div class="homepage-about-hotel__bg-layout">
          <div class="homepage-about-hotel__text-thumb">
            <h3 class="logo homepage-about-hotel__logo">Mimiho</h3>
            <h2 class="homepage-about-hotel__title">Готель</h2>
            <p class="homepage-about-hotel__description">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
          </div>
          <div class="homepage-about-hotel__carousel-thumb">
            <img src="./images/room-homepage-mobile.jpg" alt="" />
          </div>
          <div class="homepage-about-hotel__flex-thumb">
            <div class="homepage-about-hotel__slider"></div>
            <div class="homepage-about-hotel__button-thumb">
              <button class="homepage-about-hotel__button">
                Забронювати номер
              </button>
              <a class="homepage-about-hotel__button"> Переглянути ціни </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
