<section class="homepage-about-restaurant" data-slider="hotel-slider">
  <div class="container">
    <div class="homepage-about-restaurnat__bg-layout">
      <div class="homepage-about-restaurant__text-thumb">
        <div class="homepage-about-restaurant__box">
          <h3 class="logo homepage-about-hotel__logo">Mimiho</h3>
          <h2 class="homepage-about-hotel__title">Ресторан</h2>
          <p class="homepage-about-hotel__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </div>
      <div class="homepage-about-restaurant__slider-btn-thumb">
        <div class="swiper about-hotel-slider">
          <ul class="swiper-wrapper about-hotel-slider__wrapper">
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  srcset="
                    ./images/homepage-stravа-desktop.jpg    1x,
                    ./images/homepage-stravа-desktop@2x.jpg 2x
                  "
                  media="(min-width:
                          1280px)"
                />
                <source
                  srcset="
                    ./images/homepage-stravа-tablet.jpg    1x,
                    ./images/homepage-stravа-tablet@2x.jpg 2x
                  "
                  media="(min-width: 415px)"
                />
                <source
                  srcset="
                    ./images/homepage-stravа-mobile.jpg    1x,
                    ./images/homepage-stravа-mobile@2x.jpg 2x
                  "
                  media="(max-width: 414px)"
                />
                <img src="./images/homepage-stravа-mobile.jpg" alt="Стейк" />
              </picture>
            </li>
            <li
              class="swiper-slide about-hotel-slider__swiper about-hotel-slider__swiper--small-photo"
            >
              <picture>
                <source
                  srcset="
                    ./images/pexels-umut-desktop.jpg    1x,
                    ./images/pexels-umut-desktop@2x.jpg 2x
                  "
                  media="(min-width:
              1280px)"
                />
                <source
                  srcset="
                    ./images/pexels-umut-tablet.jpg    1x,
                    ./images/pexels-umut-tablet@2x.jpg 2x
                  "
                  media="(min-width: 415px)"
                />
                <source
                  srcset="
                    ./images/pexels-umut-mobile.jpg    1x,
                    ./images/pexels-umut-mobile@2x.jpg 2x
                  "
                  media="(max-width: 414px)"
                />
                <img
                  src="./images/pexels-umut-mobile.jpg"
                  alt="Страва на дошці"
                />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  srcset="
                    ./images/details-restaurant1-desktop.jpg    1x,
                    ./images/details-restaurant1-desktop@2x.jpg 2x
                  "
                  media="(min-width:
                    1280px)"
                />
                <source
                  srcset="
                    ./images/details-restaurant1-tablet.jpg    1x,
                    ./images/details-restaurant1-tablet@2x.jpg 2x
                  "
                  media="(min-width: 415px)"
                />
                <source
                  srcset="
                    ./images/details-restaurant1-mobile.jpg    1x,
                    ./images/details-restaurant1-mobile@2x.jpg 2x
                  "
                  media="(max-width: 414px)"
                />
                <img
                  src="./images/details-restaurant1-mobile.jpg"
                  alt="Різні страви і сік"
                />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  srcset="
                    ./images/pexels-cottonbro-desktop.jpg    1x,
                    ./images/pexels-cottonbro-desktop@2x.jpg 2x
                  "
                  media="(min-width:
                      1280px)"
                />
                <source
                  srcset="
                    ./images/pexels-cottonbro-tablet.jpg    1x,
                    ./images/pexels-cottonbro-tablet@2x.jpg 2x
                  "
                  media="(min-width: 415px)"
                />
                <source
                  srcset="
                    ./images/pexels-cottonbro-mobile.jpg    1x,
                    ./images/pexels-cottonbro-mobile@2x.jpg 2x
                  "
                  media="(max-width: 414px)"
                />
                <img src="./images/pexels-cottonbro-mobile.jpg" alt="Салат" />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  srcset="
                    ./images/details-restaurant1-desktop.jpg    1x,
                    ./images/details-restaurant1-desktop@2x.jpg 2x
                  "
                  media="(min-width:
                    1280px)"
                />
                <source
                  srcset="
                    ./images/details-restaurant1-tablet.jpg    1x,
                    ./images/details-restaurant1-tablet@2x.jpg 2x
                  "
                  media="(min-width: 415px)"
                />
                <source
                  srcset="
                    ./images/details-restaurant1-mobile.jpg    1x,
                    ./images/details-restaurant1-mobile@2x.jpg 2x
                  "
                  media="(max-width: 414px)"
                />
                <img
                  src="./images/details-restaurant1-mobile.jpg"
                  alt="Різні страви і сік"
                />
              </picture>
            </li>
            <li class="swiper-slide about-hotel-slider__swiper">
              <picture>
                <source
                  srcset="
                    ./images/slaider6-desktop.jpg    1x,
                    ./images/slaider6-desktop@2x.jpg 2x
                  "
                  media="(min-width:
                1280px)"
                />
                <source
                  srcset="
                    ./images/slaider6-tablet.jpg    1x,
                    ./images/slaider6-tablet@2x.jpg 2x
                  "
                  media="(min-width: 415px)"
                />
                <source
                  srcset="
                    ./images/slaider6-mobile.jpg    1x,
                    ./images/slaider6-mobile@2x.jpg 2x
                  "
                  media="(max-width: 414px)"
                />
                <img
                  src="./images/slaider6-mobile.jpg"
                  alt="Різні страви на столі"
                />
              </picture>
            </li>
          </ul>

          <div class="about-restaurant-slider__button">
            <button
              type="button"
              class="about-hotel-slider__btn swiper-button-prev"
            >
              <svg class="about-hotel-slider__icons">
                <use href="./images/icons.svg#icon-32arrow-left"></use>
              </svg>
            </button>
            <button
              type="button"
              class="about-hotel-slider__btn swiper-button-next"
            >
              <svg class="about-hotel-slider__icons">
                <use href="./images/icons.svg#icon-32arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="homepage-about-hotel__flex-thumb">
          <div class="homepage-about-hotel__slider"></div>
          <div class="homepage-about-hotel__button-thumb">
            <button
              class="homepage-about-hotel__button js-open-modal"
              data-modal="1"
            >
              Забронювати столик
            </button>
            <a
              class="homepage-about-hotel__button link"
            href="/src/restaurant.html"
            >
              Переглянути меню
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
