<section class="section">
  <div class="container">
    <div class="first-about-restaurant">
      <p class="first-about-restaurant__subtitle">Amet minim mollit non</p>
      <h2 class="first-about-restaurant__title">mimiho</h2>
      <p class="first-about-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="">
        <source
          srcset="
            ./images/interior-desktop.jpg    1x,
            ./images/interior-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/interior-tablet.jpg    1x,
            ./images/interior-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/interior-mobile.jpg    1x,
            ./images/interior-mobile@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <img
          class="first-about-restaurant__img"
          src="./images/interior-mobile.jpg"
          alt="restaurant"
        />
      </picture>
    </div>
    <div class="second-about-restaurant">
      <picture>
        <source
          srcset="
            ./images/oruri-desktop.jpg    1x,
            ./images/oruri-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/oruri-tablet.jpg 1x, ./images/oruri-tablet@2x.jpg 2x"
          media="(min-width: 1024px)"
        />
        <source
          srcset="./images/oruri-mobile.jpg 1x, ./images/oruri-mobile@2x.jpg 2x"
          media="(max-width: 1023px)"
        />
        <img
          class="second-about-restaurant__img"
          src="./images/oruri-tablet.jpg"
          alt="window view restaurant"
        />
      </picture>

      <p class="second-about-restaurant__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>

  <!-- <div class="restaurant-list slick-small"> -->
    <div class="restaurant-list__item">
      <picture>
        <source
          srcset="
            ./images/pexels-helena-desktop.jpg,
            ./images/pexels-helena-desktop@2x.jpg
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/pexels-helena-tablet.jpg,
            ./images/pexels-helena-tablet@2x.jpg
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/pexels-helena-mobile.jpg,
            ./images/pexels-helena-mobile@2x.jpg
          "
          media="(max-width: 1023px)"
        />
        <img src="./images/pexels-helena-mobile.jpg" alt="wine glass in hand" />
      </picture>
    </div>
    <div class="restaurant-list__item">
      <source
        srcset="
          ./images/pexels-mat-desktop.jpg,
          ./images/pexels-mat-desktop@2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/pexels-mat-tablet.jpg,
          ./images/pexels-mat-tablet@2x.jpg
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/pexels-mat-mobile.jpg,
          ./images/pexels-mat-mobile@2x.jpg
        "
        media="(max-width: 1023px)"
      />
      <img src="./images/pexels-mat-mobile.jpg" alt="table with food" />
    </div>
    <div class="restaurant-list__item">
      <source
        srcset="./images/slaider6-desktop.jpg, ./images/slaider6-desktop@2x.jpg"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/slaider6-tablet.jpg, ./images/slaider6-tablet@2x.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./images/slaider6-mobile.jpg, ./images/slaider6-mobile@2x.jpg"
        media="(max-width: 1023px)"
      />
      <img src="./images/slaider6-mobile.jpg" alt="tea" />
    </div>
    <div class="restaurant-list__item">
      <source
        srcset="./images/slaider7-desktop.jpg, ./images/slaider7-desktop@2x.jpg"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/slaider7-tablet.jpg, ./images/slaider7-tablet@2x.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./images/slaider7-mobile.jpg, ./images/slaider7-mobile@2x.jpg"
        media="(max-width: 1023px)"
      />
      <img src="./images/slaider7-mobile.jpg" alt="small table with food" />
    </div>
    <div class="restaurant-list__item">
      <source
        srcset="./images/slaider9-desktop.jpg, ./images/slaider9-desktop@2x.jpg"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/slaider9-tablet.jpg, ./images/slaider9-tablet@2x.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./images/slaider9-mobile.jpg, ./images/slaider9-mobile@2x.jpg"
        media="(max-width: 1023px)"
      />
      <img
        src="./images/slaider9-mobile.jpg"
        alt="small table with food on the balcony"
      />
    </div>
    <div class="restaurant-list__item">
      <source
        srcset="
          ./images/slaider15-desktop.jpg,
          ./images/slaider15-desktop@2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/slaider15-tablet.jpg, ./images/slaider15-tablet@2x.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./images/slaider15-mobile.jpg, ./images/slaider15-mobile@2x.jpg"
        media="(max-width: 1023px)"
      />
      <img src="./images/slaider15-mobile.jpg" alt="dessert on the table" />
    </div>
    <div class="restaurant-list__item">
      <source
        srcset="
          ./images/slaider16-desktop.jpg,
          ./images/slaider16-desktop@2x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/slaider16-tablet.jpg, ./images/slaider16-tablet@2x.jpg"
        media="(min-width: 1024px)"
      />
      <source
        srcset="./images/slaider16-mobile.jpg, ./images/slaider16-mobile@2x.jpg"
        media="(max-width: 1023px)"
      />
      <img src="./images/slaider16-mobile.jpg" alt="treats on the bed" />
    </div>
  </div>
</section>
