<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="homepage-about-hotel">
      <div class="container">
        <div class="homepage-about-hotel__bg-layout">
          <div class="homepage-about-hotel__text-thumb">
            <h3 class="logo homepage-about-hotel__logo">Mimiho</h3>
            <h2 class="homepage-about-hotel__title">Готель</h2>
            <p class="homepage-about-hotel__description">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
            </p>
          </div>
          <div class="carousel carousel--thumb slick-header">
            <img src="./images/room-homepage-mobile.jpg" alt="" />

            <picture>
              <sourse
                media="(max-width:1023px)"
                srceset="./images/room-homepage-mobile.jpg 1x,
              ./images/room-homepage-mobile@2x.jpg 2x"
              ></sourse>
              <sourse
                media="(min-width:1280px)"
                srceset="./images/room-homepage-desktop.jpg 1x,
              ./images/room-homepage-desktop@2x.jpg 2x"
              ></sourse>
              <sourse
                media="(min-width:1020px)"
                srceset="./images/room-homepage-tablet.jpg 1x,
              ./images/room-homepage-tablet@2x.jpg 2x"
              ></sourse>
            </picture>
            <picture>
              <sourse
                media="(max-width:1023px)"
                srceset="./images/pexels-ulgi-mobile.jpg 1x,
              ./images/pexels-ulgi-mobile@2x.jpg 2x"
              ></sourse>
              <sourse
                media="(min-width:1280px)"
                srceset="./images/pexels-ulgi-desktop.jpg 1x,
              ./images/pexels-ulgi-desktop@2x.jpg 2x"
              ></sourse>
              <sourse
                media="(min-width:1020px)"
                srceset="./images/pexels-ulgi-tablet.jpg 1x,
              ./images/pexels-ulgi-tablet@2x.jpg 2x"
              ></sourse>
            </picture>
            <picture>
              <sourse></sourse>
              <sourse></sourse>
              <sourse></sourse>
            </picture>
          </div>
          <!-- <svg class="carousel__icons">
            <use href="./images/icons.svg#icon-32arrow-left"></use>
          </svg>
          <svg class="carousel__icons">
            <use href="./images/icons.svg#icon-32arrow-right"></use>
          </svg> -->
          <div class="homepage-about-hotel__flex-thumb">
            <div class="homepage-about-hotel__slider"></div>
            <div class="homepage-about-hotel__button-thumb">
              <button class="homepage-about-hotel__button">
                Забронювати номер
              </button>
              <a class="homepage-about-hotel__button"> Переглянути ціни </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      $('.slick-header').slick({
        dots: false,
        prevArrow:
          '<button type="button" class="slick-header-prev"> <svg class="slick-arrow slick-header-prev-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" mlns="http://www.w3.org/2000/svg"><path d="M31 15.49h-26.16l6.019-6.061-1.419-1.429-8.44 8.5 8.44 8.5 1.419-1.429-6.019-6.061h26.16v-2.021z"></path></svg></button>',
        nextArrow:
          '<button type="button" class="slick-header-next"><svg class="slick-arrow slick-header-next-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.559 8l-1.419 1.429 6.019 6.061h-26.16v2.021h26.159l-6.018 6.061 1.419 1.429 8.441-8.5-8.441-8.5z"></path></svg></button>',
        infinite: true,
        speed: 300,
        slidesToScroll: 1,
        adaptiveHeight: true,
        slidesToShow: 1,

        responsive: [
          {
            breakpoint: 1280,
            settings: {
              slidesToShow: 1,
            },
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
            },
          },
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ],
      });
    </script>
  </body>
</html>
