<section class="details-restaurant">
    <div class="container">
        <h2 class="details-restaurant__title">mimiho</h2>
        <h3 class="details-restaurant__subtitle">Ресторан</h3>
        <p class="details-restaurant__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>

        <ul class="details-restaurant__list" >
       <li> <button type="button" class="details-restaurant__button">Забронювати столик</button>
        <!-- підключити модальне вікно Book Table Modal window. --></li>
        <li><button type="button" class="details-restaurant__button">Переглянути меню</button>
        <!-- підключити посилання, яке веде користувача на сторінку Restaurant Page --></li>
    </ul>
    </div>
</section>