<section class="contacts">
    <div class="container">
        <div class="contacts__cotainer">
    <h2 class="contacts__header vigual-hidden">Контакти та адреса Міміно</h2>
    <h3 class="contacts__name">mimiho</h3>
    <p class="contacts__industry">Ресторанно-готельний
комплекс</p>

<address>
<ul class="contacts__list">
    <li class="contacts__link">
        <p class="contacts__title">Ресторан</p>

        <span class="contacts__link-restouran">
             <a href="tel:+380955559533" class="contacts__tel"
                  >      <svg class="contacts__icon" width="24" height="24">
                      <use href="/src/images/icons.svg#icon-phone"></use>   
                    </svg> 095 555 95 33</a
                >
                </span>
    </li>
    <li class="contacts__link">

        <p class="contacts__title">Готель</p>

                <div class="contacts__link-hotel">
                    
 <ul class="contacts__hotel-tel">
    <li class="contacts__link-tel"><a href="tel:+380668491089" class="contacts__tel"><svg class="contacts__icon" width="24" height="24">
                      <use href="/src/images/icons.svg#icon-phone"></use>
                    </svg>066 849 10 89</a></li>
    <li class="contacts__link-tel"><a href="tel:+380672758540" class="contacts__tel">067 275 85 40</a></li>
 </ul>                   
</div>
    </li>
    </ul>
<div class="contacts__maps-box">
                   <a
                  href="iframe src=<"https://goo.gl/maps/ufFZQZkjpwxg18Qp9
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="contacts__maps-link"
                  ><svg class="contacts__maps-icon" width="24" height="24">
                      <use href="/src/images/icons.svg#icon-location"></use>
                    </svg>Україна, м. Полтава,
вул. Маршала Бірюзова, 15</a>
<iframe class="contacts__maps-images" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d38465.61053075201!2d34.526546!3d49.599194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e1!3m2!1suk!2sus!4v1674951869646!5m2!1suk!2sus" width="384" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

   


 </address>
</div>
                </div>
            
</section>