<section class="hero">
	<div class="hero__container container">
		<h1 class="hero__title">mimih<span class="hero__title--spacing">o</span></h1>
		<p class="hero__subtitle">Ресторанно-готельний комплекс</p>
		<p class="hero__slogan">Смак життя 24/7</p>
		<div class="hero__contact-wrap">
			<address class="hero__address">
				<a class="hero__address-link link" href="https://goo.gl/maps/GFzaZpafkidJ7sfY7" target="_blank"
					rel="noopener noreferrer nofollow">
					<svg class="hero__address-icon hero-location">
						<use href="/src/images/icons.svg#icon-location"></use>
					</svg>Україна, м. Полтава,
					<br>
					вул. Маршала Бірюзова, 15
				</a>
			</address>
			<div class="hero__button-wrap">
				<button class="hero__button hero__button--first js-open-modal" type="button" data-modal="1">Забронювати
					столик</button>
				<button class="hero__button hero__button--second js-open-modal" type="button"  data-modal="2">Забронювати
					номер</button>
			</div>
		</div>
		<ul class="hero__icon-list list">
			<li class="hero__icon-item"><a class="hero__icon-link " target="_blank" href="https://www.instagram.com/">
					<svg class="hero__address-icon" width=24 height=24>
						<use href="/src/images/icons.svg#icon-instagram"></use>
					</svg></a></li>
			<li class="hero__icon-item"><a class="hero__icon-link" target="_blank" href="https://www.facebook.com/">
					<svg class="hero__address-icon" width=24 height=24>
						<use href="/src/images/icons.svg#icon-facebook"></use>
					</svg></a></li>
			<li class="hero__icon-item"><a class="hero__icon-link" target="_blank" href="https://web.telegram.org/z/">
					<svg class="hero__address-icon" width=24 height=24>
						<use href="/src/images/icons.svg#icon-telegram"></use>
					</svg></a></li>
		</ul>
	</div>
</section>
<include src="./partials/common/modal-book-table.html"> </include>